
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script src="javas.js"></script>
</head>
<body>
    <div class="center">
        <img src="logo1.png" id="micButton" class="image" alt="Logo">
    </div>
    <br>
    <h1>To get started Record the desired animal name</h1>
    <br><br>

    <br><br><br>
    <div class="container">
        <input type="checkbox" id="btn" onclick="checkt()" />
        <label for="btn"></label>
        <p class="tim" id="timer">0</p>
    </div>

    <br><br><br>
    <h4>Clicking the microphone button will start a voice  recording. Each name can be up to 10 seconds in length.</h4>

    <a href="second.html">Link to About Page </a>
</body>
</html>