{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sec.css">
    <script src="third.js"></script>
</head>
<body>
    <div class="center">
        <img src="logo1.png" id="micButton" class="image">
    </div>
    <br>
    <br><br>
    <h1>To get started Record the desired animal name</h1>
    <br><br>
    <div class="center">
        <button onclick="JavaScript:alert('DONT HUNT ANIMALS')" class="butimg">
            <img src="micr.png" class="image" alt="animal">
        </button>


    </div>
    <br>
    <div class="container">
        <input type="checkbox" id="btn" onclick="checkt()"/>
        <label for="btn"></label>
        <p class="tim" id="timer" >0</p>

    </div>
    <h4>Clicking the microphone button will start a voice  recording. Each name can be up to 10 seconds in length.</h4>



    <a href="second.html">Link to About Page </a>
</body>
</html>